._ {
    width           : 100%;
    background-color: var(--color-card);
    padding-top     : 1.5rem;
    padding-bottom  : 1.5rem;
    height          : 100px;
    position        : fixed;
    top             : 0px;
    left            : 0px;
    z-index         : 10;
    transform: translateY(-110%);
    transition: var(--transition);
}

._.show {
    transform: translateY(0%);
}

.block {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 96%;
    margin-left    : auto;
    margin-right   : auto;
}

.div {
    width  : 1px;
    height : 1px;
    display: block;
}

.form {
    display      : block;
    position     : relative;
    width        : 60%;
    border-radius: 0.5rem;
    outline      : none;
}

@media screen and (max-width: 1199px) {
    .form {
        width: calc(100% - 80px);
    }
}

._ button {
    background: transparent;
    color: var(--color-text);
}

._ button svg {
    color: var(--color-text);
    fill: var(--color-text);
}

.input {
    width           : 100%;
    display         : flex;
    align-items     : center;
    position        : relative;
    transition      : var(--transition);
    outline         : none;
    font-size       : 1.125rem;
    padding-left    : 4rem;
    padding-right   : 1rem;
    height          : 3rem;
    line-height     : 3rem;
    border-radius   : 0.25rem;
    border          : 2px solid var(--color-primary);
    background-color: var(--color-card);
    color: var(--color-text);
    appearance      : textfield;
    outline-offset  : -2px;
}

.input::placeholder,
.input:-webkit-input-placeholder,
.input:-moz-input-placeholder {
    color: var(--color-bg-dark);
}

.search {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    height         : 3rem;
    width          : 4rem;
    font-size      : 1.125rem;
    top            : 0px;
    z-index        : 1;
    left           : 0px;
}

.close {
    outline        : none;
    width          : 40px;
    height         : 40px;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 0.25rem;
    transition     : var(--transition);
    flex           : 0 0 auto;
    background: var(--color-card);
    color: var(--color-text);
}

.close svg {
    color: var(--color-text);
    fill: var(--color-text);
}

.close:hover {
    background: var(--color-bg-light);
    color: var(--color-primary);
}

.close:hover svg {
    color: var(--color-primary);
    fill: var(--color-primary);
}