._ {
    width: 100%;
    background-color: var(--color-card);
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.total {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.sum {
    font-weight: 600;
}
.btn {
    border-radius: 0.25rem;
    font-weight: 600;
    width: 100%;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;
    outline: none;
    height: 3rem;
    min-width: 3rem;
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-card);
    border-width: 0;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--color-primary-dark);
}
.disable {
    opacity: .5;
}
.disable:hover {
    background-color: var(--color-primary);
    cursor:default;
}