._ {
    margin-top      : 1rem;
    width           : 100%;
    border-collapse : collapse;
    border          : 1px solid #5e5e5e;
    margin-bottom   : 2rem;
    width           : 100%;
    background-color: var(--color-card);
    border-radius   : 8px;
    overflow        : hidden;
    box-shadow      : var(--shadow);
}

._ th {
    border    : 1px solid var(--color-bg);
    padding   : 10px;
    font-size: 14px;
}

._ th:first-child {
    font-size: 12px;
}

._ td {
    border    : 1px solid var(--color-bg);
    padding   : 4px 8px;
}

._ th {
    background-color: var(--color-primary-light);
}

.error {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: var(--color-card);
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 0.25rem;
}