._ {
    z-index       : 999;
    position      : fixed;
    top        : -100%;
    right         : 15px;
    background    : #eee;
    width         : 260px;
    padding       : 15px;
    display       : flex;
    gap           : 20px;
    align-items   : center;
    font-size     : 15px;
    border-radius : 3px;
    transition    : var(--transition);
    opacity       : 0;
    pointer-events: none;
    box-shadow: var(--shadow);
}

.success,
.error,
.warning {
    pointer-events: all;
    animation     : slideInOut 3s ease forwards;
}

.success {
    background-color: var(--color-primary);
    color           : var(--color-card);
    border          : 1px solid var(--color-primary-dark);
}

.error {
    background-color: var(--color-error);
    color           : var(--color-card);
    border          : 1px solid var(--color-error-dark);
}

.warning {
    background-color: var(--color-warning);
    color           : var(--color-card);
    border          : 1px solid var(--color-warning-dark);
}

@keyframes slideInOut {
    0% {
        top : -100%;
        opacity: 0;
    }

    15% {
        top : 25px;
        opacity: 1;
    }

    85% {
        top : 25px;
        opacity: 1;
    }

    100% {
        top : -100%;
        opacity: 0;
    }
}