._ {
    border-radius   : 0.25rem;
    font-weight     : 500;
    width           : 100%;
    display         : inline-flex;
    appearance      : none;
    align-items     : center;
    justify-content : center;
    gap             : 10px;
    transition      : var(--transition);
    user-select     : none;
    position        : relative;
    white-space     : nowrap;
    vertical-align  : middle;
    line-height     : 1.2;
    outline         : none;
    height          : 40px;
    min-width       : 40px;
    font-size       : 1rem;
    font-weight     : 600;
    background-color: var(--color-primary);
    color           : var(--color-card);
    max-width       : 220px;
    padding         : 0 10px;
    cursor          : pointer;
    border-width    : 0;
    position        : relative;
    overflow        : hidden;
    box-shadow      : var(--shadow);
}

._:hover svg {
    cursor: pointer;
    fill  : var(--color-card);
    color : var(--color-card);
}

@media screen and (max-width: 991px) {
    ._ {
        font-size: 0.85rem;
    }
}

._:hover {
    background-color: var(--color-primary-dark);
}

._.btn {
    background: var(--color-bg-light);
    color     : var(--color-text);
    padding   : 0;
}

._.btn:hover {
    background: var(--color-card);
    color     : var(--color-text);
}

._.btn svg {
    color: var(--color-text);
    fill : var(--color-text);
}

._.btn:hover svg {
    color: var(--color-primary-dark);
    fill : var(--color-primary-dark);
}

._.transparent {
    background   : transparent;
    border-radius: 50%;
    padding      : 0;
}

._.transparent:hover {
    background: var(--color-bg-light);
}

._.transparent svg {
    color: var(--color-text);
    fill : var(--color-text);
}

._.transparent:hover svg {
    color: var(--color-primary-dark);
    fill : var(--color-primary-dark);
}

.qty {
    display         : flex;
    font-size       : 0.71rem;
    border-radius   : 50%;
    white-space     : nowrap;
    background-color: var(--color-error);
    color           : var(--color-card);
    width           : 15px;
    height          : 15px;
    justify-content : center;
    align-items     : center;
    position        : absolute;
    top             : 4px;
    left            : 4px;
}