._ {
    text-align      : center;
    width           : 100%;
    padding         : 2rem;
    background-color: var(--color-card);
    color           : var(--color-text);
    border-radius   : 8px;
    margin-top      : 2rem;
    box-shadow      : var(--shadow);
}