.main {
  height: auto;
  min-height: calc(100vh - 90px);
  display: flex;
}

.main button {
  cursor: pointer;
  border-width: 0;
}
.open {
  overflow: hidden;
  height: 100vh;
}

.container {
  margin-top: 100px;
  padding: 1.5rem;
}
