.dragHandle {
    cursor     : grab;
    text-align : center;
    font-size  : 1.2rem;
    user-select: none;
}

.cell {
    font-size : .85rem;
    text-align: center;
}

.cell:nth-child(2),
.cell:nth-child(3) {
    text-align: left;
}

.edit {
    cursor          : pointer;
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    margin          : 0 .4rem;
    border-radius   : 0.25rem;
    transition      : var(--transition);
    height          : 22px;
    width           : 22px;
    background-color: var(--color-primary);
    color           : var(--color-card);
}

.edit:hover {
    background-color: var(--color-primary);
    color           : var(--color-card);
}

.edit svg {
    color: var(--color-card);
    fill : var(--color-card);
}

.delete {
    cursor          : pointer;
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    margin          : 0 .4rem;
    border-radius   : 0.25rem;
    transition      : var(--transition);
    height          : 22px;
    width           : 22px;
    background-color: var(--color-error);
    color           : var(--color-card);
}

.delete svg {
    color: var(--color-card);
    fill : var(--color-card);
}

.delete:hover {
    background-color: var(--color-error-dark);
    color           : var(--color-card);
}

.ok,
.new {
    color: var(--color-primary);
}

.hide {
    color: var(--color-error);
}

.hide svg {
    color: var(--color-error);
    fill : var(--color-error);
}

.action {
    color: var(--color-error);
}

.img {
    cursor    : pointer;
    transition: var(--transition);
}

.img:hover {
    color: var(--color-primary)
}