._ {
  position: relative;
  display : inline-block;
}

@media screen and (max-width: 576px) {
  ._ {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
    align-items   : center;
  }
}

.dropbtn {
  border-radius   : 5px;
  display         : inline-flex;
  appearance      : none;
  align-items     : center;
  justify-content : space-between;
  transition      : var(--transition);
  user-select     : none;
  position        : relative;
  white-space     : nowrap;
  vertical-align  : middle;
  line-height     : 1.2;
  outline         : none;
  height          : 2.5rem;
  min-width       : 150px;
  font-size       : .9rem;
  padding-left    : 1rem;
  padding-right   : 1rem;
  background-color: var(--color-primary);
  color           : var(--color-card);
  gap             : 10px;
  margin-left     : 10px;
}

.dropbtn:hover svg {
  color: var(--color-card);
  fill : var(--color-card);
}

.content {
  display         : none;
  position        : absolute;
  right           : 0;
  background-color: var(--color-card);
  min-width       : 160px;
  box-shadow      : var(--shadow);
  z-index         : 1;
}

._:hover .content {
  display: block;
}

.btn {
  background-color: var(--color-card);
  color           : var(--color-text);
  padding         : 10px 15px;
  text-decoration : none;
  display         : block;
  width           : 100%;
  font-size       : 0.85rem;
  text-align      : left;
  padding-left    : 35px;
  position        : relative;
}

.btn:hover {
  background-color: var(--color-bg-light);
  color           : var(--color-text);
}

.btn:hover svg {
  color: var(--color-text);
  fill : var(--color-text);
}

._:hover .dropbtn {
  background-color: var(--color-primary-dark);
}

.icon {
  position : absolute;
  left     : 10px;
  top      : 50%;
  transform: translateY(-60%);
}