._ {
    width           : calc(100% - 2rem);
    height          : max-content;
    background-color: rgb(255, 255, 255);
    padding         : 1rem;
    margin-left     : 1rem;
    margin-right    : 1rem;
    order           : 0;
    margin-top      : 0;
}

@media screen and (max-width: 767px) {
    ._ {
        max-width   : 500px;
        margin-left : auto;
        margin-right: auto;
        order       : 2;
    }
}

.title {
    font-size    : 1.25rem;
    line-height  : 1.25;
    font-weight  : 700;
    width        : 100%;
    color        : #5e9923;
    margin-bottom: 20px;
}

.actions {
    display   : flex;
    gap       : 1rem;
    margin-top: 1rem;
}

.checkbox {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 1.5rem;
    gap            : 10px;
}

.disabled .icon svg,
.icon.gray svg {
    color: #c0c0c0;
    fill : #c0c0c0;
}

.icon {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    height         : 2.5rem;
    width          : 2.5rem;
    font-size      : 1rem;
    top            : 0px;
    z-index        : 1;
    left           : 0px;
}

.icon svg {
    color: #5e9923;
}

.input:disabled,
.textarea:disabled {
    border-color: #c0c0c0;
    cursor      : not-allowed;
}

.input::placeholder,
.textarea::placeholder {
    color: #c0c0c0;
}

.input:focus,
.textarea:focus {
    border-color: #4c7c1b;
}

.cancel {
    background: #979797 !important;
}

.cancel:hover {
    background: #838383 !important;
}

.delete {
    background : #ff0019 !important;
    padding    : 0 !important;
    margin-left: 1rem;
    height     : 22px !important;
    width      : 22px !important;
    min-width  : 22px !important;
}

.delete:hover {
    background: #ce0015 !important;
}

.download {
    width           : 100%;
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : space-between;
    gap             : 5px;
    outline         : none;
    font-size       : 1rem;
    padding         : .5rem;
    border-radius   : 0.25rem;
    border          : 2px solid #5e9923;
    background-color: #ffffff;
}

.download span {
    font-size  : .68rem;
    line-height: .75rem;
}

.group {
    display   : flex;
    position  : relative;
    margin-top: 1rem;
    position  : relative;
}

.input,
.textarea {
    width           : 100%;
    display         : flex;
    align-items     : center;
    position        : relative;
    transition      : 0.2s;
    outline         : none;
    font-size       : .95rem;
    padding-left    : 2.2rem;
    padding-right   : 1rem;
    height          : 2.5rem;
    line-height     : 2.5rem;
    border-radius   : 0.25rem;
    border          : 2px solid #5e9923;
    background-color: #ffffff;
}

.input:disabled,
.textarea:disabled {
    background-color: #f5f5f5;
    cursor          : not-allowed;
}

.textarea {
    font-family: 'Inter', 'Inter Fallback';
    height     : calc(100px + 1.5rem);
    line-height: 115%;
    padding    : .5rem .5rem .5rem 2.2rem;
}

.label {
    font-weight: 500;
}

.fileInput {
    width    : 100%;
    font-size: .75rem;
}

.uploading {
    font-size  : 0.85rem;
    margin-left: 0.5rem;
    color      : #c0c0c0;
}

.currentImage {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    flex-wrap      : nowrap;
    flex           : 1;
    font-size      : .75rem;
    margin-top     : 1rem;
    gap            : 5px;
}

.currentImage+.currentImage {
    margin-top: .2rem;
}

.err .input {
    border-color: #ce0015;
}

.error {
    color           : #ff0019;
    position        : absolute;
    top             : -8px;
    left            : 40px;
    font-size       : 13px;
    padding         : 0 3px;
    background-color: #fff;
}

.switcher {
    display        : flex;
    gap            : 5px;
    margin-bottom  : 20px;
    justify-content: flex-end;
}

.lang, .mark {
    background   : #e9e9e9;
    border       : 1px solid #c0c0c0;
    border-radius: 4px;
    padding      : 4px 8px;
    cursor       : pointer;
    transition   : all 0.3s;
}

.lang.active {
    display: none;
}

.mark svg {
    color: #c0c0c0;
    fill: #c0c0c0;
    transition   : all 0.3s;
}

.mark.active {
    border-color: #5e9923;
    background: #5e9923;
}

.mark.active svg {
    color: #fff;
    fill: #fff;
}

.btns {
    display    : flex;
    align-items: center;
    gap        : 5px;
    margin-right: auto;
}