._ {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    width           : 100%;
    height          : auto;
    padding         : 0.8rem;
    background-color: var(--color-card);
    position        : relative;
    padding-bottom  : 1.5rem;
    border-radius   : 10px;
    overflow        : hidden;
    transition      : var(--transition);
    box-shadow      : 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.img {
    width       : 100%;
    height      : 100%;
    aspect-ratio: 1/1;
    cursor      : pointer;
    border-radius: 5px;
    overflow: hidden;
}

.pict {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.pict.hidden {
    filter: grayscale(1);
}

.block {
    width        : 90%;
    margin-top   : 0.75rem;
    margin-bottom: 0.75rem;
}

.prices {
    display    : flex;
    align-items: flex-end;
}

.price {
    font-size  : 1.2rem;
    font-weight: 600;
    color      : var(--color-primary-dark);
}

@media screen and (max-width: 991px) {
    .price {
        font-size: 1rem;
    }
}

.old {
    margin-left  : 0.25rem;
    margin-bottom: 1px;
    font-size    : 0.87rem;
    font-weight  : 500;
    color        : var(--color-bg-dark);
}

@media screen and (max-width: 991px) {
    .old {
        font-size: .8rem;
    }
}

.title {
    font-size        : 0.875rem;
    /* text-transform: capitalize; */
    min-height       : 42px;
}

.sale {
    display         : inline-block;
    padding-left    : 0.5rem;
    padding-right   : 0.5rem;
    text-transform  : uppercase;
    font-size       : 0.75rem;
    font-weight     : 500;
    white-space     : nowrap;
    vertical-align  : middle;
    background-color: var(--color-error);
    color           : var(--color-card);
    position        : absolute;
    top             : 1rem;
    right           : 1.15rem;
}

.new {
    display         : inline-block;
    padding-left    : 0.5rem;
    padding-right   : 0.5rem;
    text-transform  : uppercase;
    font-size       : 0.75rem;
    font-weight     : 500;
    white-space     : nowrap;
    vertical-align  : middle;
    background-color: var(--color-primary-dark);
    color           : var(--color-card);
    position        : absolute;
    top             : 1rem;
    left            : 1.15rem;
}

.btns {
    width          : 75%;
    line-height    : 40px;
    height         : 2.5rem;
    min-width      : 2.5rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.empty {
    font-size  : 1.1rem;
    line-height: 120%;
    text-align : center;
    font-weight: 600;
    color      : var(--color-primary-dark);
}

@media screen and (max-width: 991px) {
    .empty {
        font-size: .9rem;
    }
}