._ {
  width           : 100%;
  background-color: #fff;
  box-shadow      : 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height          : 100px;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : 4;
  display         : flex;
  align-items     : center;
}

.block {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  flex-wrap      : wrap;
  width          : 100%;
  max-width      : 1600px;
  padding        : 0 15px;
  margin-left    : auto;
  margin-right   : auto;
}

.logo {
  display     : flex;
  align-items : center;
  margin-right: 2.5rem;
}

.hamburger {
  padding        : 0px;
  border         : none;
  width          : 45px;
  height         : 45px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .hamburger {
    width : 40px;
    height: 40px;
    border-radius: 3px;

    svg {
      width : 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .hamburger {
    width : 35px;
    height: 35px;
  }
}

.store {
  padding        : 0px;
  border         : none;
  width          : 45px;
  height         : 45px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  border-radius: 5px;
  background: #f0f0f0;
}

@media screen and (max-width: 991px) {
  .store {
    width : 40px;
    height: 40px;
    border-radius: 3px;

    svg {
      width : 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .store {
    width : 35px;
    height: 35px;
  }
}

._ button:hover svg {
  fill: #5e9923;
}

.buttons {
  display    : flex;
  align-items: center;
}

.search {
  padding        : 0px;
  border         : none;
  width          : 45px;
  height         : 45px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .search {
    width : 40px;
    height: 40px;
    border-radius: 3px;

    svg {
      width : 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .search {
    width : 35px;
    height: 35px;
  }
}

.cart {
  padding        : 0px;
  width          : 45px;
  height         : 45px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  position       : relative;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .cart {
    width : 40px;
    height: 40px;
    border-radius: 3px;

    svg {
      width : 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .cart {
    width : 35px;
    height: 35px;
  }
}

.phone {
  font-size      : 1.4rem;
  font-weight    : 600;
  text-decoration: none;
  margin-right   : 1rem;
}

.phone:hover {
  color: #5e9923;
}

@media screen and (max-width: 991px) {
  .phone {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 576px) {
  .phone {
    font-size: 1.1rem;
  }
}

.qty {
  display         : flex;
  padding-left    : 0.25rem;
  padding-right   : 0.25rem;
  font-size       : 0.75rem;
  border-radius   : 50%;
  white-space     : nowrap;
  background-color: #ff0019;
  color           : #fff;
  width           : 1.5rem;
  height          : 1.5rem;
  justify-content : center;
  align-items     : center;
  position        : absolute;
  top             : 0px;
  left            : -10px;
}