._ {
    border-radius   : 0.25rem;
    font-weight     : 500;
    width           : 100%;
    display         : inline-flex;
    appearance      : none;
    align-items     : center;
    justify-content : center;
    gap             : 10px;
    transition      : all 0.3s ease 0.3s;
    user-select     : none;
    position        : relative;
    white-space     : nowrap;
    vertical-align  : middle;
    line-height     : 1.2;
    outline         : none;
    height          : 40px;
    min-width       : 3rem;
    font-size       : 1rem;
    background-color: #5e9923;
    color           : #fff;
    max-width       : 200px;
    padding         : 0 20px;
    cursor          : pointer;
    border-width    : 0;
}

._:hover svg {
    cursor: pointer;
    fill  : #fff;
    color : #fff;
}

@media screen and (max-width: 991px) {
    ._ {
        font-size: 0.85rem;
    }
}

._:hover {
    background-color: #4c7c1b;
}


.transparent, .transparent:hover {
    background: transparent;
}