.slider {
  width           : 34px;
  height          : 20px;
  background-color: var(--color-bg);
  border-radius   : 34px;
  position        : relative;
  cursor          : pointer;
  transition      : var(--transition);
}

.slider.checked {
  background-color: var(--color-primary);
}

.circle {
  width           : 16px;
  height          : 16px;
  background-color: var(--color-card);
  border-radius   : 50%;
  position        : absolute;
  top             : 2px;
  left            : 2px;
  transition      : var(--transition);
}

.slider.checked .circle {
  left: 16px;
}